.login {
  position: relative;
  min-height: 100vh;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 60vw;
  max-width: 500px;

  padding: 10px;
}

form {
  input {
    background-color: rgba(0, 0, 0, 0.349);
    outline: none;
    border: none;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0.9rem 1.3rem;
    position: relative;
    max-width: 100%;
    font-size: 13px;
    border-radius: 3px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    a {
      display: inline-block;
      margin-top: 10px;
      text-decoration: underline;
      font-size: 13px;
      color: rgb(0, 37, 124);
      cursor: pointer;
    }

    button {
      background-color: rgba(117, 0, 226, 0.616);
      margin: 0 auto;
      border: none;
      outline: none;
      border-radius: 4px;
      padding: 0.5rem 0.8rem;
      cursor: pointer;
      transition: 0.1s ease;
      max-width: 80px;
      &:hover {
        background-color: rgb(64, 107, 224);
      }
    }
  }
}
