$background-color: rgb(245, 0, 0);
$twitter-bird: rgb(29, 161, 242);
$active-link: rgb(37, 191, 99);
$darker-green: rgb(10, 149, 66);
$light-link: rgba(0, 184, 74, 0.459);
$user: rgb(124, 115, 115);
$footer-icons: rgb(125, 138, 148);
